body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top:50px;
}
.container{
    background-color: aliceblue;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
    width:350px;
}
h2{
    text-align:center;
    margin-bottom:20px;
}
form label{
    display:block;
    margin-top:10px;
    font-weight:bold;
}
form input ,form select{
    width:100%;
    padding:8px;
    margin-top:5px;
    border-radius:5px;
    border:1px solid greenyellow;
}
button{
    width:100%;
    margin-top:20px;
    padding:10px;
    background-color: fuchsia;
    color:white;
    font-weight:bold;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
button:hover{
    background-color: #218838;;
}
#result{
    margin-top:20px;
    font-size:18px;
    text-align:center;
}
