body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  padding-top: 50px;
}

h2 {
  margin-bottom: 20px;
}

.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  border: 2px solid black;
}

.square {
  width: 60px;
  height: 60px;
}

.white {
  background-color: #f0d9b5;
}

.black {
  background-color: #b58863;
}
